<div class="col-xs-12">
{{#methods}}
	<h4>{{key}}, {{api}}</h4>
	<form role="form" id="{{key}}">
		
		{{#params}}
			<div class="form-group">
				{{name}} <input type="{{type}}" name="{{name}}">	
			</div>
		{{/params}}
		
		<input type="hidden" name="apiMethod" value="{{key}}">
		<input type="hidden" name="api" value="{{api}}">
		<a class="btn btn-default submitFormButton" data-formid="{{key}}">Test</a>
		<span id="result{{key}}"></span>
	</form>	
	
{{/methods}}
</div>