<table class="table table-hover table-striped table-bordered">
	<thead>
	<tr>
		<th>
			<td>TestId</td><td>Ran on</td><td>Details</td>
		</th>
	</tr>
	</thead>
	<tbody>
		{{#rows}}	
		<tr>
			{{#cells}}
				<td></td><td>{{testid}}</td><td>{{creation}}</td><td><a class="btn showdetails" href="#" data-id="{{testid}}">View Details</a></td>
			{{/cells}}
		</tr>
		{{/rows}}
	</tbody>	
</table>